<!-- HERO -->
<section class="donate-hero">

  <img src="assets/donate-hero.jpg"
       class="hero-bg"
       alt="Soutenir FADO">

  <div class="overlay"></div>

  <div class="hero-content fade-in">
    <h1>Faire un Don</h1>
    <p>
      Chaque contribution change une vie.
      Ensemble, soutenons les communautés vulnérables.
    </p>
  </div>

</section>

<!-- IMPACT SECTION -->
<section class="section impact-section">

  <div class="impact-container">

    <div class="impact-text">
      <h2>Votre don a un impact réel</h2>
      <p>
        Grâce à votre soutien, la Fondation FADO développe
        des actions concrètes dans les domaines de la santé,
        de l'accompagnement social et du soutien aux familles
        vulnérables en Côte d’Ivoire.
      </p>
    </div>

    <div class="impact-image">
      <img src="assets/donate-impact.jpg" alt="Impact Fondation FADO">
    </div>

  </div>

</section>

<!-- DONATION FORM -->
<!--<section class="section donation-info">

  <div class="donation-info-card">

    <h2>Comment faire un don ?</h2>

    <p>
      Pour effectuer un don, veuillez nous envoyer un email
      en précisant le montant que vous souhaitez offrir ainsi
      que votre numéro de téléphone.
    </p>

    <p>
      Notre équipe vous contactera rapidement afin de vous
      accompagner pour la réception de votre contribution.
    </p>

    <div class="contact-box">
      <strong>Email :</strong>
      <a href="mailto:contact@fondation-fado.org">
        contact@fondation-fado.org
      </a>
    </div>

    <div class="mobile-money-box">
      <h3>Ou faites un transfert direct via Mobile Money :</h3>

      <p><strong>Wave :</strong> +225 07 60 95 47</p>
      <p><strong>Orange Money :</strong> +225 07 60 95 47</p>
    </div>

  </div>

</section>-->
<section class="section donation-section">

  <div class="donation-card">
     <p>
      Pour effectuer un don, veuillez nous envoyer un email
      en précisant le montant que vous souhaitez offrir ainsi
      que votre numéro de téléphone.
    </p>

    <p>
      Notre équipe vous contactera rapidement afin de vous
      accompagner pour la réception de votre contribution.
    </p>

    <h2>Envoyer une demande de don</h2>

    <form #donForm="ngForm">

      <input type="text"
             placeholder="Votre nom"
             [(ngModel)]="donation.name"
             name="name"
             required>

      <input type="tel"
             placeholder="Votre numéro de téléphone"
             [(ngModel)]="donation.phone"
             name="phone"
             required>

      <input type="number"
             placeholder="Montant souhaité (FCFA)"
             [(ngModel)]="donation.amount"
             name="amount"
             required>

      <button type="button"
              class="donate-btn"
              (click)="sendEmail()">
        Envoyer ma demande
      </button>

    </form>

  </div>

</section>

