<!-- HEADER -->
<header class="topbar" [class.scrolled]="scrolled">

  <a class="brand" routerLink="/">
    <img src="assets/images/logo1.png" alt="Logo FADO">
  </a>

  <!-- BOUTON HAMBURGER -->
  <div class="menu-toggle" (click)="toggleMenu()">
    ☰
  </div>

  <nav class="nav" [class.mobile-open]="menuOpen">
    <a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }"
   (click)="closeMenu()">
   Accueil</a>

    <a routerLink="/a-propos" routerLinkActive="active" (click)="closeMenu()">À propos</a>
    <a routerLink="/projets" routerLinkActive="active" (click)="closeMenu()">Projets</a>
    <!--<a routerLink="/temoignages" routerLinkActive="active" (click)="closeMenu()">Témoignages</a>-->
    <a routerLink="/partenaires" routerLinkActive="active" (click)="closeMenu()">Partenaires</a>
    <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a>
  </nav>

  <a class="btn-donate" routerLink="/soutenir">Soutenir</a>

</header>



<main class="content">
  <router-outlet />
</main>

<!-- FOOTER -->
<footer class="footer">

  <div class="footer-container">

    <div class="footer-brand">
      <img src="assets/images/logo1.png" alt="Logo FADO">
      <h3>Fondation FADO</h3>
      <p>
        Agir localement pour un impact durable
        au service des communautés vulnérables.
      </p>
    </div>

    <div class="footer-links">
      <h4 style="margin-bottom: 20px;">Navigation</h4>
   <a routerLink="/" routerLinkActive="active" >Accueil</a>
   <a routerLink="/a-propos" routerLinkActive="active">À propos</a>
    <a routerLink="/projets" routerLinkActive="active">Projets</a>
   <!-- <a routerLink="/temoignages" routerLinkActive="active">Témoignages</a>-->
    <a routerLink="/partenaires" routerLinkActive="active">Partenaires</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>

    <div class="footer-contact">
      <h4>Contact</h4>
      <p style="margin-top: 20px;">📍 Abidjan, Côte d’Ivoire</p>
      <p>📧 contact@fondation-fado.org</p>
    </div>

    <div class="footer-cta">
      <h4>Agissez</h4>
      <p style="margin-top: 20px;"><a class="btn-donate" routerLink="/soutenir">Faire un don</a></p>
      
    </div>

  </div>

  <div class="footer-bottom">
    © {{ currentYear }} FADO — Tous droits réservés.
  </div>

</footer>
