<!-- HERO AVEC IMAGE -->
<section class="projects-hero">

  <img src="assets/projects-hero.jpg" class="hero-bg" alt="Projets FADO">

  <div class="overlay"></div>

  <div class="hero-content fade-in">
    <h1>Nos Projets & Missions</h1>
    <p>
      Découvrez l’impact de nos actions depuis 2021.
    </p>
  </div>
</section>

<!-- TIMELINE -->
<section class="timeline">
  <div class="projects-hint">
  Cliquez sur chaque projet pour visualiser les photos et les activités réalisées.
</div>


  <div *ngFor="let group of projects" class="year-block">

    <div class="year">{{ group.year }}</div>

    <div *ngFor="let project of group.items"
         class="project-card"
         (click)="toggle(project)"
         [class.active]="activeProject === project">

      <div class="project-header">
        <h3>{{ project.title }}</h3>
        <span>{{ project.date }}</span>
      </div>

      <p class="location">{{ project.location }}</p>

   <div class="project-details" *ngIf="activeProject === project">

  <!-- SLIDER -->
  <div class="slider">

    <button class="nav-btn left"
            (click)="prevImage(project); $event.stopPropagation()">
      ‹
    </button>

    <img [src]="project.images[project.currentImage]"
         alt="Image projet">

    <button class="nav-btn right"
            (click)="nextImage(project); $event.stopPropagation()">
      ›
    </button>

  </div>

  <!-- ACTIVITÉS -->
 <div class="project-activities">

  <h4>Actions réalisées</h4>

  <div class="activities-grid">
    <div class="activity-item"
         *ngFor="let act of project.activities">
      <span class="check">✔</span>
      <span class="text">{{ act }}</span>
    </div>
  </div>

</div>


</div>


    </div>

  </div>

</section>
